@font-face {
	font-family: 'icomoon';
	src:  url('assets/fonts/icomoon.eot?pbzxlr');
	src:  url('assets/fonts/icomoon.eot?pbzxlr#iefix') format('embedded-opentype'),
		url('assets/fonts/icomoon.ttf?pbzxlr') format('truetype'),
		url('assets/fonts/icomoon.woff?pbzxlr') format('woff'),
		url('assets/fonts/icomoon.svg?pbzxlr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lightning:before,
.icon-11d:before,
.icon-11n:before {
	content: "\e900";
}
.icon-clouds:before {
	content: "\e900";
}
.icon-weather:before {
	content: "\e900";
}
.icon-cloud:before {
	content: "\e901";
}
.icon-lightning1:before {
	content: "\e901";
}
.icon-weather1:before {
	content: "\e901";
}
.icon-cloudy:before {
	content: "\e902";
}
.icon-weather2:before,
.icon-04d:before,
.icon-04n:before {
	content: "\e902";
}
.icon-clouds1:before {
	content: "\e902";
}
.icon-weather3:before,
.icon-10d:before,
.icon-10n:before {
	content: "\e903";
}
.icon-cloud1:before {
	content: "\e903";
}
.icon-snowy:before,
.icon-13d,
.icon-13n:before {
	content: "\e904";
}
.icon-weather4:before {
	content: "\e904";
}
.icon-cloud2:before {
	content: "\e904";
}
.icon-snowy1:before {
	content: "\e905";
}
.icon-weather5:before {
	content: "\e905";
}
.icon-cloud3:before {
	content: "\e905";
}
.icon-snowy2:before {
	content: "\e906";
}
.icon-weather6:before {
	content: "\e906";
}
.icon-cloud4:before {
	content: "\e906";
}
.icon-windy:before {
	content: "\e907";
}
.icon-rainy:before {
	content: "\e907";
}
.icon-weather7:before {
	content: "\e907";
}
.icon-cloud5:before {
	content: "\e907";
}
.icon-windy1:before {
	content: "\e908";
}
.icon-weather8:before {
	content: "\e908";
}
.icon-cloud6:before {
	content: "\e908";
}
.icon-09d:before,
.icon-09n:before,
.icon-rainy1:before {
	content: "\e909";
}
.icon-weather9:before {
	content: "\e909";
}
.icon-cloud7:before {
	content: "\e909";
}
.icon-rainy2:before {
	content: "\e90a";
}
.icon-weather10:before {
	content: "\e90a";
}
.icon-cloud8:before {
	content: "\e90a";
}
.icon-lightning2:before {
	content: "\e90b";
}
.icon-weather11:before {
	content: "\e90b";
}
.icon-cloud9:before {
	content: "\e90b";
}
.icon-lightning3:before {
	content: "\e90c";
}
.icon-weather12:before {
	content: "\e90c";
}
.icon-cloud10:before {
	content: "\e90c";
}
.icon-cloud11:before {
	content: "\e90d";
}
.icon-weather13:before,
.icon-03d:before,
.icon-03n:before {
	content: "\e90d";
}
.icon-weather14:before,
.icon-50d:before,
.icon-50n:before {
	content: "\e90e";
}
.icon-cloud12:before {
	content: "\e90e";
}
.icon-weather15:before {
	content: "\e90f";
}
.icon-weather16:before {
	content: "\e910";
}
.icon-cloud13:before {
	content: "\e911";
}
.icon-night:before {
	content: "\e911";
}
.icon-weather17:before {
	content: "\e911";
}
.icon-cloudy1:before {
	content: "\e912";
}
.icon-weather18:before,
.icon-02d:before,
.icon-02n:before {
	content: "\e912";
}
.icon-wind:before {
	content: "\e913";
}
.icon-weather19:before {
	content: "\e913";
}
.icon-windy2:before {
	content: "\e914";
}
.icon-weather20:before {
	content: "\e914";
}
.icon-moon:before {
	content: "\e915";
}
.icon-night1:before {
	content: "\e915";
}
.icon-weather21:before {
	content: "\e915";
}
.icon-sun:before,
.icon-01n:before,
.icon-01d:before {
	content: "\e916";
}
.icon-weather22:before {
	content: "\e916";
}
.icon-sunrise:before {
	content: "\e917";
}
.icon-dawn:before {
	content: "\e917";
}
.icon-weather23:before {
	content: "\e917";
}
.icon-search:before {
	content: "\e918";
}
.icon-refresh:before {
	content: "\e919";
}
.icon-list-ul:before {
	content: "\e91a";
}
